body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1px;
    
    
}

.grid {
    
    border-color: black;
    border-style: solid;
}